<ion-view view-title="Envelopes">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="Envelope in Envelopes" type="item-text-wrap" href="#/tab/chats/{{Envelopes.id}}">
       
        <h2>{{Envelope.name}}</h2>
        <p>Maximum Amount: {{Envelope.MaxAmt}}</p>
          <p>Current Balance: {{Envelope.balance()}}</p>

        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(Envelope)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
